
body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(138, 138, 138, 0.082);
}
.main-div{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-div{
    width: calc(35vw);
    min-width: 270px;
    background-color: rgb(255, 255, 255) ;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.content-div>h3{
    padding-top: 10px;
    font-weight: 600;
}
form>input{
    width: 90%;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    background-color: transparent;
    border-radius: 5px;
}
input:focus{
    outline: 2px solid dodgerblue;
}

.inp-email{
    margin-top: 20px;
}

.login-btn{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color:#0084ff ;
    color: rgb(255, 255, 255);
    border: none;
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 5px;
}
.login-btn:hover{
    background-color:#065eb1 ;
}

.error-alert{
    background-color: rgba(0, 0, 0, 0.384);
    position: absolute;
    height: calc(100vh);
    width: calc(100vw); 
    top: 0;
    display: none;
    justify-content: right;
    align-items: flex-start;
    padding: 15px 15px;
}

.err-close{
    color: red;
    padding: 0px 3px;
}
.err-close:hover{
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid red;
}
